# OS boilerplate
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Intellij / Editor
.idea/
.vscode/

# Build/Temp
dist/
build/
*.zip

# Dependencies
node_modules/

# Test coverage
coverage/

# Added by Claude
